{% extends 'base.html' %}

{% block head %}
<title>DiaTech | Prediksi Diabetes Mellitus</title>
{% endblock %}

{% block body %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Form Deteksi Penyakit Diabetes Mellitus</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="x_panel diabetes_form">
          <div class="x_title">
              <h2>DiaTech<small>Diabetes Technology</small></h2>
              <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <p>Lengkapi seluruh pertanyaan di bawah dengan jujur sesuai dengan kondisi saat ini sehingga hasil yang diperoleh menjadi lebih akurat.</p>
            <form action="{{ url_for('submit')}}" method="post" id="form" class="form-horizontal">
              <!-- Progress bar -->
              <div class="progressbar_form">
                <div class="progress_form" id="progress_form"></div>

                <div class="progress-step progress-step-active"></div>
                <div class="progress-step"></div>
                <div class="progress-step"></div>
                <div class="progress-step"></div>
                <div class="progress-step"></div>
                <div class="progress-step"></div>
              </div>
        
              <!-- Steps -->
              <div class="form-step form-step-active">
                <div class="form-group row">
                  <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Usia</label>
                  <div class="col-md-6 col-sm-6 ">
                    <input type="number" id="Age" name="Age" class="form-control" min="16">
                  </div>
                  <label class="col-form-label col-md-3 col-sm-3 text-start" for="last-name">(16-90 tahun)</label>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-md-3 col-sm-3 label-align">Jenis Kelamin</label>
                  <div class="col-md-6 col-sm-6 ">
                    <div id="gender" class="btn-group">
                      <label class="btn btn-default">
                        <input type="radio" name="Gender" value="1" class="join-btn" onclick="changeClass(this)"> Laki-laki
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="Gender" value="0" class="join-btn" onclick="changeClass(this)"> Perempuan
                      </label>
                    </div>
                  </div>
                </div>

                <div class="ln_solid"></div>
								<div class="item form-group d-flex justify-content-end">
									<a href="#" class="btn btn-next btn-success">Next <i class="fa fa-caret-right"></i></a>
								</div>
              </div>

              <div class="form-step">
                <div class="form-group form-group-diabetes">
                  <label for="Polyuria">Apakah Anda mengalami buang air kecil berlebihan?</label>
                  <div class="">
                    <div id="Polyuria" class="btn-group">
                      <label class="btn btn-default">
                        <input type="radio" name="Polyuria" value="1" class="join-btn" onclick="changeClassList(this)"> Ya
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="Polyuria" value="0" class="join-btn" onclick="changeClassList(this)"> Tidak
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group form-group-diabetes">
                  <label for="Polydipsia">Apakah Anda merasa haus berlebihan?</label>
                  <div class="">
                    <div id="Polydipsia" class="btn-group">
                      <label class="btn btn-default">
                        <input type="radio" name="Polydipsia" value="1" class="join-btn" onclick="changeClassList(this)"> Ya
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="Polydipsia" value="0" class="join-btn" onclick="changeClassList(this)"> Tidak
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group form-group-diabetes">
                  <label for="sudden weight loss">Apakah Anda mengalami penurunan berat badan yang tiba-tiba?</label>
                  <div class="">
                    <div id="sudden weight loss" class="btn-group">
                      <label class="btn btn-default">
                        <input type="radio" name="sudden weight loss" value="1" class="join-btn" onclick="changeClassList(this)"> Ya
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="sudden weight loss" value="0" class="join-btn" onclick="changeClassList(this)"> Tidak
                      </label>
                    </div>
                  </div>
                </div>

                <div class="ln_solid"></div>
								<div class="item form-group d-flex justify-content-end">
									<a href="#" class="btn btn-prev btn-primary"><i class="fa fa-caret-left"></i> Previous</a>
                  <a href="#" class="btn btn-next btn-success">Next <i class="fa fa-caret-right"></i></a>
								</div>
              </div>

              <div class="form-step">
                <div class="form-group form-group-diabetes">
                  <label for="weakness">Apakah Anda merasa lemah atau lesu?</label>
                  <div class="">
                    <div id="weakness" class="btn-group">
                      <label class="btn btn-default">
                        <input type="radio" name="weakness" value="1" class="join-btn" onclick="changeClassList(this)"> Ya
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="weakness" value="0" class="join-btn" onclick="changeClassList(this)"> Tidak
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group form-group-diabetes">
                  <label for="Polyphagia">Apakah Anda mengalami nafsu makan berlebihan?</label>
                  <div class="">
                    <div id="Polyphagia" class="btn-group">
                      <label class="btn btn-default">
                        <input type="radio" name="Polyphagia" value="1" class="join-btn" onclick="changeClassList(this)"> Ya
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="Polyphagia" value="0" class="join-btn" onclick="changeClassList(this)"> Tidak
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group form-group-diabetes">
                  <label for="Genital thrush">Apakah Anda mengalami infeksi jamur pada area kelamin?</label>
                  <div class="">
                    <div id="Genital thrush" class="btn-group">
                      <label class="btn btn-default">
                        <input type="radio" name="Genital thrush" value="1" class="join-btn" onclick="changeClassList(this)"> Ya
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="Genital thrush" value="0" class="join-btn" onclick="changeClassList(this)"> Tidak
                      </label>
                    </div>
                  </div>
                </div>

                <div class="ln_solid"></div>
								<div class="item form-group d-flex justify-content-end">
									<a href="#" class="btn btn-prev btn-primary"><i class="fa fa-caret-left"></i> Previous</a>
                  <a href="#" class="btn btn-next btn-success">Next <i class="fa fa-caret-right"></i></a>
								</div>
              </div>

              <div class="form-step">
                <div class="form-group form-group-diabetes">
                  <label for="visual blurring">Apakah penglihatan Anda akhir-akhir ini mudah kabur?</label>
                  <div class="">
                    <div id="visual blurring" class="btn-group">
                      <label class="btn btn-default">
                        <input type="radio" name="visual blurring" value="1" class="join-btn" onclick="changeClassList(this)"> Ya
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="visual blurring" value="0" class="join-btn" onclick="changeClassList(this)"> Tidak
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group form-group-diabetes">
                  <label for="Itching">Apakah Anda merasa gatal pada tubuh atau kulit?</label>
                  <div class="">
                    <div id="Itching" class="btn-group">
                      <label class="btn btn-default">
                        <input type="radio" name="Itching" value="1" class="join-btn" onclick="changeClassList(this)"> Ya
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="Itching" value="0" class="join-btn" onclick="changeClassList(this)"> Tidak
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group form-group-diabetes">
                  <label for="Irritability">Apakah Anda merasa mudah tersinggung atau cepat marah?</label>
                  <div class="">
                    <div id="Irritability" class="btn-group">
                      <label class="btn btn-default">
                        <input type="radio" name="Irritability" value="1" class="join-btn" onclick="changeClassList(this)"> Ya
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="Irritability" value="0" class="join-btn" onclick="changeClassList(this)"> Tidak
                      </label>
                    </div>
                  </div>
                </div>

                <div class="ln_solid"></div>
								<div class="item form-group d-flex justify-content-end">
									<a href="#" class="btn btn-prev btn-primary"><i class="fa fa-caret-left"></i> Previous</a>
                  <a href="#" class="btn btn-next btn-success">Next <i class="fa fa-caret-right"></i></a>
								</div>
              </div>

              <div class="form-step">
                <div class="form-group form-group-diabetes">
                  <label for="delayed healing">Apakah luka pada tubuh Anda sulit sembuh atau memerlukan waktu lama?</label>
                  <div class="">
                    <div id="delayed healing" class="btn-group">
                      <label class="btn btn-default">
                        <input type="radio" name="delayed healing" value="1" class="join-btn" onclick="changeClassList(this)"> Ya
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="delayed healing" value="0" class="join-btn" onclick="changeClassList(this)"> Tidak
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group form-group-diabetes">
                  <label for="partial paresis">Apakah Anda mengalami kelumpuhan sebagian pada tubuh?</label>
                  <div class="">
                    <div id="partial paresis" class="btn-group">
                      <label class="btn btn-default">
                        <input type="radio" name="partial paresis" value="1" class="join-btn" onclick="changeClassList(this)"> Ya
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="partial paresis" value="0" class="join-btn" onclick="changeClassList(this)"> Tidak
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group form-group-diabetes">
                  <label for="muscle stiffness">Apakah Anda merasakan kekakuan pada otot-otot Anda?</label>
                  <div class="">
                    <div id="muscle stiffness" class="btn-group">
                      <label class="btn btn-default">
                        <input type="radio" name="muscle stiffness" value="1" class="join-btn" onclick="changeClassList(this)"> Ya
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="muscle stiffness" value="0" class="join-btn" onclick="changeClassList(this)"> Tidak
                      </label>
                    </div>
                  </div>
                </div>

                <div class="ln_solid"></div>
								<div class="item form-group d-flex justify-content-end">
									<a href="#" class="btn btn-prev btn-primary"><i class="fa fa-caret-left"></i> Previous</a>
                  <a href="#" class="btn btn-next btn-success">Next <i class="fa fa-caret-right"></i></a>
								</div>
              </div>

              <div class="form-step">
                <div class="form-group form-group-diabetes">
                  <label for="Alopecia">Apakah Anda mengalami kebotakan atau kerontokan rambut?</label>
                  <div class="">
                    <div id="Alopecia" class="btn-group">
                      <label class="btn btn-default">
                        <input type="radio" name="Alopecia" value="1" class="join-btn" onclick="changeClassList(this)"> Ya
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="Alopecia" value="0" class="join-btn" onclick="changeClassList(this)"> Tidak
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group form-group-diabetes">
                  <label for="Obesity">Apakah Anda mengalami kelebihan berat badan (obesitas)?</label>
                  <div class="">
                    <div id="Obesity" class="btn-group">
                      <label class="btn btn-default">
                        <input type="radio" name="Obesity" value="1" class="join-btn" onclick="changeClassList(this)"> Ya
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="Obesity" value="0" class="join-btn" onclick="changeClassList(this)"> Tidak
                      </label>
                    </div>
                  </div>
                </div>

                <div class="ln_solid"></div>
								<div class="item form-group d-flex justify-content-end">
									<a href="#" class="btn btn-prev btn-primary"><i class="fa fa-caret-left"></i> Previous</a>
                  <button type="button" class="btn btn-success" id="submitBtn">Submit <i class="fa fa-check"></i></button>
								</div>
              </div>

              <!-- Konfirmasi Modal-->
              <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="font-size: 15px;">
                          <div class="modal-icon">
                            <i class="fa fa-warning"></i>
                          </div>
                          Apakah Anda yakin telah mengisi semua informasi dengan benar?
                          <br>
                          Setelah ini, Anda akan melihat hasil prediksi.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
              </div>

              <!-- Error Modal-->
              <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center" style="font-size: 15px;">
                          <div class="modal-icon">
                            <i class="fa fa-times-circle"></i>
                          </div>
                          Harap isi semua form!
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Ulangi</button>
                        </div>
                    </div>
                </div>
              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
function changeClass(radio) {
  var labels = document.querySelectorAll('form .btn-group label');
  labels.forEach(function (label) {
      label.classList.remove('btn-primary', 'btn-dark');
      label.classList.add('btn-default');
  })
  var selectedLabel = radio.parentElement;
  selectedLabel.classList.remove('btn-default');
  if (radio.value === '1') {
      selectedLabel.classList.add('btn-dark');
  } else if (radio.value === '0') {
      selectedLabel.classList.add('btn-primary');
  }
}

function changeClassList(radio) {
  // Simpan warna tombol yang dipilih pada field saat ini
  var currentColorClass = (radio.value === '1') ? 'btn-info' : 'btn-secondary';

  // Hapus semua warna tombol pada semua field
  var labels = document.querySelectorAll('form .form-group-diabetes .btn-group label');
  labels.forEach(function (label) {
    label.classList.remove('btn-info', 'btn-secondary', 'btn-default');
    label.classList.add('btn-default');
  });

  // Tambahkan kembali warna tombol yang dipilih pada field saat ini
  radio.parentElement.classList.remove('btn-default');
  radio.parentElement.classList.add(currentColorClass);

  // Iterasi semua label di semua field
  var allFieldNames = Array.from(new Set(Array.from(document.querySelectorAll('.btn-group label input[name]')).map(input => input.getAttribute('name'))));

  allFieldNames.forEach(function (fieldName) {
    labels.forEach(function (label) {
      if (label.querySelector('input[name="' + fieldName + '"]:checked')) {
        var isChecked = label.querySelector('input[name="' + fieldName + '"]:checked').value === '1';
        label.classList.remove('btn-default');
        label.classList.add(isChecked ? 'btn-info' : 'btn-secondary');
      }
    });
  });
}

$(document).ready(function() {
  $("#submitBtn").click(function() {
    var allFieldsFilled = true;

    $("form input").each(function() {
        if ($(this).is(':radio')) {
            var radioGroupName = $(this).attr('name');
            if ($("input[name='" + radioGroupName + "']:checked").length === 0) {
                allFieldsFilled = false;
                return false; // Hentikan iterasi jika tidak ada radio yang dipilih
            }
        } else if ($.trim($(this).val()) === "") {
            allFieldsFilled = false;
            return false; // Hentikan iterasi jika ada satu field yang kosong
        }
    });

    if (allFieldsFilled) {
        $("#confirmModal").modal("show");
    } else {
        $("#errorModal").modal("show");
    }
  });
});
</script>
{% endblock %}