{% extends 'base.html' %}

{% block head %}
<title>DiaTech</title>
{% endblock %}

{% block body %}
<!-- Content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Deteksi Diabetes Mellitus</h3>
      </div>
    </div>
    
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="col-md-3 col-sm-3 profile_left">
              <div class="profile_img d-flex justify-content-center">
                  <img src="{{ url_for('static', filename='images/diatech.png') }}" alt="DiaTech">
              </div>
              <a href="/prediksi" class="btn btn-info">Mulai Prediksi <i class="fa fa-pencil-square-o"></i></a>
            </div>

            <div class="col-md-9 col-sm-9 profile_right">
              <div class="profile_title">
                <h3>DiaTech (<span>Diabetes Technology</span>)</h3>
              </div>

              <p>
                DiaTech adalah sebuah sistem website yang dirancang khusus untuk deteksi penyakit diabetes 
                dengan memanfaatkan kecerdasan buatan atau <span>Artificial Intelligence</span> (AI). Sistem ini bertujuan untuk memberikan layanan 
                yang memudahkan pengguna dalam melakukan deteksi dini penyakit diabetes secara cepat dan akurat. 
              </p>

              <div class="profile_goal">
                <h2>Manfaat</h2>
                <ul>
                  <li><strong>Deteksi Dini</strong> - Memberikan deteksi dini penyakit diabetes, memungkinkan tindakan pencegahan lebih awal.</li>
                  <li><strong>Akses Mudah</strong> - Pengguna dapat mengakses layanan kesehatan kapan saja dan di mana saja melalui platform online.</li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="x_panel fixed_height_380">
          <div class="x_title">
            <h2>Langkah Ke-1</h2>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <div style="text-align: center; margin-bottom: 17px">
              <img src="{{ url_for('static', filename='images/kesatu.png') }}" class="img-fluid" alt="DiaTech">
            </div>
            <div class="divider"></div>
            <ul>
              <li>Pilih menu 'Prediksi' pada website ini atau klik pada tombol 'Mulai Prediksi' di halaman utama.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="x_panel fixed_height_380">
          <div class="x_title">
            <h2>Langkah Ke-2</h2>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <div style="text-align: center; margin-bottom: 17px">
              <img src="{{ url_for('static', filename='images/kedua.png') }}" class="img-fluid" alt="DiaTech">
            </div>
            <div class="divider"></div>
            <ul>
              <li>Anda akan diarahkan ke halaman formulir deteksi diabetes.</li>
              <li>Isilah semua pertanyaan pada formulir dengan informasi yang akurat dan relevan.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="x_panel fixed_height_380">
          <div class="x_title">
            <h2>Langkah Ke-3</h2>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <div style="text-align: center; margin-bottom: 17px">
              <img src="{{ url_for('static', filename='images/kesatu.png') }}" class="img-fluid" alt="DiaTech">
            </div>
            <div class="divider"></div>
            <ul>
              <li>Klik tombol "Submit" untuk mengirimkan formulir.</li>
              <li>Tunggu sejenak sementara sistem melakukan analisis berdasarkan jawaban yang Anda berikan.</li>
              <li>Hasil deteksi diabetes akan muncul di layar.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- End of Content -->
{% endblock %}
