{% extends 'base.html' %}

{% block head %}
<title>DiaTech | Info</title>
{% endblock %}

{% block body %}
<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Info Modelling Machine Learning</h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="x_panel">
            <div class="x_title">
                <h2>DiaTech<small>Diabetes Technology</small></h2>
                <div class="nav navbar-right panel_toolbox">
                  <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#semua" role="tab" aria-controls="home" aria-selected="true">Semua</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#before" role="tab" aria-controls="profile" aria-selected="false">LR</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#after" role="tab" aria-controls="contact" aria-selected="false">LR dan SMOTE+PCA</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="semua" role="tabpanel" aria-labelledby="home-tab">
                  Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
                      synth. Cosby sweater eu banh mi, qui irure terr.
                </div>
                <div class="tab-pane fade" id="before" role="tabpanel" aria-labelledby="profile-tab">
                  Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                      booth letterpress, commodo enim craft beer mlkshk aliquip
                </div>
                <div class="tab-pane fade" id="after" role="tabpanel" aria-labelledby="contact-tab">
                  xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                      booth letterpress, commodo enim craft beer mlkshk 
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
{% endblock %}