{% extends 'base.html' %}

{% block head %}
<title>DiaTech | Model Machine Learning</title>
{% endblock %}

{% block body %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Model Machine Learning</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="x_panel">
          <div class="x_title">
              <h2>DiaTech<small>Diabetes Technology</small></h2>
              <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#semua" role="tab" aria-controls="home" aria-selected="true">Semua</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="before-tab" data-toggle="tab" href="#before" role="tab" aria-controls="before" aria-selected="false">LR</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="after-tab" data-toggle="tab" href="#after" role="tab" aria-controls="after" aria-selected="false">LR+SMOTE+PCA</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="semua" role="tabpanel" aria-labelledby="home-tab">

                <div class="">
                  <div class="col-md-6 col-sm-12">
                    <img src="{{ url_for('static', filename='images/before-smote.png') }}" class="img-fluid" alt="Before SMOTE">
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <img src="{{ url_for('static', filename='images/after-smote.png') }}" class="img-fluid" alt="After SMOTE">
                  </div>
                </div>
                <div class="clearfix"></div>

                <div class="component_pca">
                  <img src="{{ url_for('static', filename='images/corr.png') }}" class="img-fluid" alt="Correlation">
                  <h3>n component = 14</h3>
                </div>
                <div class="clearfix"></div>

                <div class="">
                  <div class="col-md-6 col-sm-12">
                    <img src="{{ url_for('static', filename='images/before.png') }}" class="img-fluid mb-2" alt="Before">
                    <div class="mb-3">Classification Report <b>Logistic Regression</b></div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <img src="{{ url_for('static', filename='images/after.png') }}" class="img-fluid mb-2" alt="After">
                    <div class="mb-3">Classification Report <b>Logistic Regression dan SMOTE+PCA</b></div>
                  </div>
                </div>

                <div class="mt-3">
                  <div class="col-md-6 col-sm-12">
                    <img src="{{ url_for('static', filename='images/roc.png') }}" class="img-fluid mb-2" alt="Kurva ROC" style="width: 450px;">
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <img src="{{ url_for('static', filename='images/perbandingan.png') }}" class="img-fluid mb-2" alt="Perbandingan" style="width: 450px;">
                  </div>
                </div>

              </div>
              <div class="tab-pane fade" id="before" role="tabpanel" aria-labelledby="before-tab">
                <div class="">
                  <div class="col-md-6 col-sm-12">
                    <img src="{{ url_for('static', filename='images/before.png') }}" class="img-fluid mb-2" alt="Before SMOTE">
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <h4>Algoritma Klasifikasi: <b>Logistic Regression</b></h4>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="after" role="tabpanel" aria-labelledby="after-tab">
                <div class="">
                  <div class="col-md-6 col-sm-12">
                    <img src="{{ url_for('static', filename='images/after.png') }}" class="img-fluid mb-2" alt="Before SMOTE">
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <h4>Metode Oversampling: <b>SMOTE</b></h4>
                    <h4>Reduksi Fitur: <b>PCA (Principal Component Analysis)</b></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}