{% extends 'base.html' %}

{% block head %}
<title>DiaTech | Model Machine Learning</title>
{% endblock %}

{% block body %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Model Machine Learning</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="x_panel">
          <div class="x_title">
              <h2>DiaTech<small>Diabetes Technology</small></h2>
              <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="dataset-tab" data-toggle="tab" href="#dataset" role="tab" aria-controls="dataset" aria-selected="true">Dataset</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="perbandingan-tab" data-toggle="tab" href="#perbandingan" role="tab" aria-controls="perbandingan" aria-selected="false">Perbandingan</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="dataset" role="tabpanel" aria-labelledby="dataset-tab">

                <div class="table-container">
                  {% if data %}
                  <table>
                      <thead>
                          <tr>
                              {% for column in data[0].keys() %}
                                  <th>{{ column }}</th>
                              {% endfor %}
                          </tr>
                      </thead>
                      <tbody>
                          {% for row in data %}
                              <tr>
                                  {% for value in row.values() %}
                                      <td>{{ value }}</td>
                                  {% endfor %}
                              </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                  {% else %}
                      <p>Data tidak tersedia.</p>
                  {% endif %}
                </div>

                <div class="component_pca">
                  <img src="{{ url_for('static', filename='images/corr.png') }}" class="img-fluid" alt="Correlation">
                </div>
                <div class="clearfix"></div>

                <div class="my-3">
                  <div class="col-md-6 col-sm-12">
                    <img src="{{ url_for('static', filename='images/before-smote.png') }}" class="img-fluid" alt="Before SMOTE">
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <img src="{{ url_for('static', filename='images/after-smote.png') }}" class="img-fluid" alt="After SMOTE">
                  </div>
                </div>
                <div class="clearfix"></div>

              </div>

              <div class="tab-pane fade" id="perbandingan" role="tabpanel" aria-labelledby="perbandingan-tab">

                <div class="">
                  <div class="col-md-6 col-sm-12">
                    <img src="{{ url_for('static', filename='images/before.png') }}" class="img-fluid mb-2" alt="Before">
                    <div class="mb-3">Classification Report <b>Logistic Regression</b></div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <img src="{{ url_for('static', filename='images/after.png') }}" class="img-fluid mb-2" alt="After">
                    <div class="mb-3">Classification Report <b>Logistic Regression dan SMOTE+PCA</b></div>
                  </div>
                </div>

                <div class="mt-3">
                  <div class="col-md-6 col-sm-12">
                    <img src="{{ url_for('static', filename='images/roc.png') }}" class="img-fluid mb-2" alt="Kurva ROC" style="width: 450px;">
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <img src="{{ url_for('static', filename='images/perbandingan.png') }}" class="img-fluid mb-2" alt="Perbandingan" style="width: 450px;">
                  </div>
                </div>

                <div class="text-center mt-4">
                  <img src="{{ url_for('static', filename='images/novelty.png') }}" class="img-fluid mb-2" alt="Novelty">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}