{% extends 'base.html' %}

{% block head %}
<title>DiaTech | Prediksi Diabetes Mellitus</title>
{% endblock %}

{% block body %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Form Deteksi Penyakit Diabetes Mellitus</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="x_panel diabetes_predict">
          <div class="x_title">
              <h2>DiaTech<small>Diabetes Technology</small></h2>
              <div class="clearfix"></div>
          </div>

          <div class="x_content text-center">
            <p>Hasil Prediksi Anda adalah</p>
            {% if prediction_text == 'Negative' %}
                <h4><span class="badge badge-success">Anda diprediksi 'Negatif' Diabetes</span></h4>
            {% elif prediction_text == 'Positive' %}
                <h4><span class="badge badge-danger">Anda diprediksi 'Positif' Diabetes</span></h4>
            {% else %}
                <h4>{{ prediction_text }}</h4>
            {% endif %}
            <a href="/form" class="btn btn-sm btn-primary mt-3" style="width: 100%;">Ambil Tes lagi</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}