<!-- sidebar -->
<div class="col-md-3 left_col" style="position: fixed">
    <div class="left_col scroll-view">
      <div class="navbar nav_title" style="border: 0;">
        <a href="/" class="d-flex align-items-center">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" class="img-fluid">
          <span>DiaTech</span>
        </a>
      </div>
      <div class="clearfix"></div>
      
      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>Menu</h3>
            <ul class="nav side-menu">
              <li><a href="/"><i class="fa fa-home"></i> Dashboard</a></li>
              <li><a href="/prediksi"><i class="fa fa-pencil"></i> Prediksi</a></li>
            </ul>
        </div>
        <div class="menu_section">
            <h3>Others</h3>
            <ul class="nav side-menu">
              <li><a href="/info"><i class="fa fa-info-circle"></i> Info</a></li>
            </ul>
        </div>
      </div>
      <!-- /sidebar menu -->
    </div>
</div>